name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Cache CS 10.0.0
        id: cs-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/csv10.0.0
          key: csv10.0.0-${{ runner.os }}
      
      - name: Build CS 10.0.0
        if: steps.cs-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/.cache/csv10.0.0
          cd ~/.cache/csv10.0.0
          
          wget -q "https://github.com/cisco/ChezScheme/releases/download/v10.0.0/csv10.0.0.tar.gz"
          tar -xzf csv10.0.0.tar.gz
          cd csv10.0.0
          
          ./configure --prefix="$HOME/.cache/csv10.0.0/install" --disable-x11 --disable-curses
          make
          make install
      
      - name: Add CS to the PATH
        run: echo "$HOME/.cache/csv10.0.0/install/bin" >> $GITHUB_PATH
      
      - name: Run a test suite
        run: scheme --program ./test.ss
